@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #652F91;
  --color-primary-light: #7E45AA;
  --color-primary-dark: #4C216F;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #1e293b;
}
